{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}


{% block main %}
<div class="btn-group">
    <button type="button" class="position-relative btn btn-danger btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Action
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="thepark.html">College Park</a></li>
        <li><a class="dropdown-item" href="buckhead.html">Buckhead</a></li>
        <li><a class="dropdown-item" href="midtown.html">Midtown</a></li>
    </ul>
</div>
{% endblock %}