{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}


{% block main %}
<style>
    .container {
      height: 200px;
      position: relative;
    }
    
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    </style>
 
<div class="container">
    <div class="center">
        <div class="btn-group">
            <button type="button" class="position-relative btn btn-danger btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" text="Select Your Area">
                Action
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="thepark.html">College Park</a></li>
                <li><a class="dropdown-item" href="buckhead.html">Buckhead</a></li>
                <li><a class="dropdown-item" href="midtown.html">Midtown</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}