<!-- Page for scaling in the future to include more service opportunities -->
{% extends "layout.html" %}

{% block title %}
Marietta
{% endblock %}

{% block main %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color:black">
            <img src="https://resources.finalsite.net/images/f_auto,q_auto/v1612295533/woodward/uh9lnp5jf8l47ggwp3oz/FullWarEagleBodyAthletics.jpg" width="30" height="30" class="d-inline-block align-text-top">
            Get Connected
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="thepark.html" style="color:black;text-decoration:underline;">College Park</a>
            <a class="nav-link" href="buckhead.html" style="color:black;text-decoration:underline;">Buckhead</a>
            <a class="nav-link" href="midtown.html" style="color:black;text-decoration:underline;">Midtown</a>
            <a class="nav-link" href="marietta.html" style="color:black;text-decoration:underline;">Marietta</a>
            </div>
        </div>
        </div>
    </nav>
    <p></p>
{% endblock %}
