{% extends "layout.html" %}

{% block title %}
    College Park
{% endblock %}

{% block main %}
    <div class="card" style="width: 18rem;">
        <img src="https://www.ajc.com/resizer/XZAXje4AYX2iXvk4bBteRDvMTS4=/814x458/cloudfront-us-east-1.images.arcpublishing.com/ajc/OOS4WRMGCBCRNIM5AHVVJA55E4.jpg" class="card-img-top" alt="Boxes packed with food">
        <div class="card-body">
        <h5 class="card-title">Atlanta Community Food Bank</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Sign Up</a>
        </div>
    </div>
{% endblock %}
